:root {
  --primary-font-family: 'Roboto', sans-serif;
  --primary-text-color-light-background: #212121;
  --secondary-text-color-light-background: #757575;
  --accept-item-text-color: #2196f3;
  --dark-theme-background: #2f303a;
  --light-theme-background: #ffffff;
  --middle-theme-background: #f5f4fa;
  --light-icon-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font-family);
  background-color: var(--light-theme-background);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----- SAME COMPONENTS ----- */
.section {
  padding: 94px 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-light-background);
  margin-bottom: 50px;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accept-item-text-color);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ----- /SAME COMPONENTS ----- */

/* ----- HEADER ----- */

.header {
  border-bottom: 1px solid #ececec;
}

.logo-studio-top {
  color: #000000;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo-link.top {
  margin-right: 93px;
  padding: 24px 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list,
.contacts-top-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-light-background);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accept-item-text-color);
}

.contacts-top-list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-top-icon {
  margin-right: 10px;
}

.contacts-top-list-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-light-background);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-top-list-link:hover,
.contacts-top-list-link:focus {
  color: var(--accept-item-text-color);
  fill: var(--accept-item-text-color);
}

.current {
  color: var(--accept-item-text-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accept-item-text-color);
}

/* ----- /HEADER ----- */

/* ----- HERO ----- */
.section.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-color: #c4c4c4;
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--middle-theme-background);
  margin-bottom: 30px;
}

.modal-btn {
  font-family: inherit;
  background-color: var(--accept-item-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-theme-background);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}
/* ----- /HERO ----- */

/* ----- BENEFITS ----- */
.benefits-list {
  display: flex;
}

.benefits-list-item {
  flex-basis: calc((100% - 30px)/4);
}

.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon-conteiner {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--middle-theme-background);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-light-background);
  margin-bottom: 10px;
}
.benefits-descriptoin {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-light-background);
}
/* ----- /BENEFITS ----- */

/* ----- WE DO ----- */
.section.we-do {
  padding-top: 0;
}

.we-do-list {
  display: flex;
}

.we-do-list-item:not(:last-child) {
  margin-right: 30px;
}

.we-do-list-item-conteiner {
  position: relative;
}

.we-do-list-item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-theme-background);
  background: rgba(47, 48, 58, 0.8);
}

/* ----- /WE DO ----- */

/* ----- OUR TEAM ----- */
.section.our-team {
  background-color: var(--middle-theme-background);
}

.our-team-list {
  display: flex;
}

.our-team-list-item {
  background-color: var(--light-theme-background);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-light-background);
  margin-bottom: 10px;
}

.out-team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-light-background);
  margin-bottom: 16px;
}

.our-team-item-info {
  padding: 30px 32px;
  text-align: center;
}

.our-team-social-list {
  display: flex;
}

.our-team-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  background-color: var(--light-theme-background);
  fill: var(--light-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accept-item-text-color);
  fill: var(--light-theme-background);
}
/* ----- /OUR TEAM ----- */

/* ----- CLIENTS ----- */
.clients-list {
  display: flex;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-icon-color);
  border-radius: 4px;
  fill: var(--light-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accept-item-text-color);
  fill: var(--accept-item-text-color);
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

/* ----- /CLIENTS ----- */

/* ----- FOOTER ----- */
footer {
  background-color: var(--dark-theme-background);
  padding: 60px 0;
}

.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.logo-studio-bottom {
  color: var(--light-theme-background);
}

.address-list {
  margin-top: 20px;
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--accept-item-text-color);
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  color: var(--middle-theme-background);
}

.footer-social-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-theme-background);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
}

.social-link.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--light-theme-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link.footer-social-link:hover,
.social-link.footer-social-link:focus {
  background-color: var(--accept-item-text-color);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.subscribe-input-conteiner{
  display: flex;
}

.footer-subscribe-title {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-theme-background);
  margin-bottom: 20px;
}

.subscribe-email-input {
  width: 358px;
  height: 50px;
  background-color: var(--dark-theme-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--light-theme-background);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-email-input:focus {
  outline: none;
  border-color: var(--accept-item-text-color);
}

.footer-subscribe-btn {
  display: flex;
  font-family: inherit;
  background-color: var(--accept-item-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-theme-background);
  cursor: pointer;
  padding: 10px 28px;
  border-radius: 4px;
  border: 1px solid transparent;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: #188ce8;
}

.icon-send {
  margin-left: 10px;
  fill: var(--light-theme-background);
}


/* ===== PORTFOLIO ===== */

/* ----- MAIN ----- */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-list-btn {
  background-color: var(--middle-theme-background);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-light-background);
  cursor: pointer;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-btn:hover,
.filter-list-btn:focus {
  background-color: var(--accept-item-text-color);
  color: var(--light-theme-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}

.portfolio-list-item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.portfolio-item-text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-list-item .portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-light-background);
}

.portfolio-item-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-light-background);
}

.portfolio-img-conteiner {
  position: relative;
  overflow: hidden;
}

.portfolio-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--light-theme-background);
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover .portfolio-img-overlay,
.portfolio-item-link:focus .portfolio-img-overlay {
  transform: translateY(0%);
}

/* ----- /MAIN ----- */

/* ===== /PORTFOLIO ===== */

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--light-theme-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

/* /MODAL WINDOW */